/* BD081C */
body{
	font-family: 'Source Sans Pro', sans-serif;
}
header{
	padding-left: 5%;
	position: fixed;
	width: 100%;
}
.fa.fa-pinterest{
	color: #FFF;
	position: relative;
	font-size: 1.3em;
	top: 21.5%;
	left: 23.5%;
}
.p-logo-circle{
	background: #BD081C;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	display: inline-block;
	margin-right:25px;
	position: relative;
	bottom: 3px; 
}
.fa.fa-search{
	position: absolute;
	top: 25%;
	right: 86.5%;
}
.input-text{
	font-weight: bold;
	position: absolute;
	top: -10%;
	right:25%;
}
input{
	width: 65%;
	background: #eaeaea;
	border:none;
	padding: 11px 11px 11px 6%;
	border-radius: 6px;
	margin-bottom: 0.7%;
	font-size: 17px;
	color:#605f5f;
}
.user-menu{
	list-style: none;
	/*outline: 1px solid blue;*/
	display: inline-block;
	padding: 0;
	margin:0;
}
.user-menu li{
	display: inline-block;
	font-size: 23px;
	/*outline: 1px solid red;*/
	margin-left: 30px;
	color:#a3a3a3;
}
.user-menu li a:visited{
	color:#a3a3a3;
}
.user-menu li a:hover{
	color:#a3a3a3;
}
.user-menu li a:active{
	color:#a3a3a3;
}
hr{
	width: 100%;
	position: absolute;
	left: 0;
	border-color: #FFF;
	margin-bottom: 10px;
}
.menu-filters{
	background-color: #FFF;
	height: 150px;
	left: -3%;
	position: absolute;
	text-align: center;
	top:-10px;
	width: 100%;
	z-index: -1;
}
.filters{
	background-color: brown;
	display: inline-block;
	border-radius: 7px;
	margin-right: 10px;
	margin-bottom: 5px;
	margin-top: 80px;
}

.filters p{
	font-size: 15px;
	margin: 19px 30px;
	font-weight: bold;
	color:#FFF;
}
main{
	width: 1200px;
	position: relative;
	top: 150px;
	margin:auto;
	z-index: -1;
}
.line{
	width: 297px;
	/*background-color: red;*/
	float: left;
}
.items{
	width: 280px;
	margin:10px;
	display: inline-block;
	position: relative;
	/*background-color: blue;*/
	/*outline: 1px solid black;*/
}
.items img{
	width: 280px;
	border-radius: 20px;
}
.user-info{
	display: inline-block;
}
.user-img{
	width: 40px;
	height: 40px;
	background-color: red;
	border-radius: 50%;
	display: inline-block;
}
.title{
	font-weight: bold;
}
.pins p{
	font-size: 10px;
	color:#b7b7b7;
	position: relative;
	left: 200px;
	bottom: 30px;
	height: 0;
}
.user-info p{
	margin:0;
}
p.text{
	margin-top: 0;
}